@font-face {
    font-family:Century Gothic;
    src:url(/fonts/century.ttf);
}
body{
    font-family:"Century Gothic";
}
li{
    list-style: none;
}
a{
    text-decoration:none;
}
hr{
    margin:40px 0 40px 0;
    border: 1px solid #d1d1d1;
}
/*Меню*/
.menu1{
    display:flex;
    justify-content: center;
    background-color: #3c3c3c;
}
.main_top_menu1{
    margin-top:0;
    margin-bottom:0;
    background-color: #3c3c3c;
	width:1155px;
	padding-left:0;
	display:flex;
    flex-direction:row;
    justify-content: center;
    align-items:center;
    font-size:10pt;
    padding-top:10px;
    padding-bottom:10px;
}

.main_top_menu1 li:nth-child(n+2){
    margin-left:50px;
}
.logo{
    flex-grow:1;
    margin-left:0px;
}
.main_top_menu1 input{
    background-color: #3c3c3c;
    border: 1px solid white;
    padding:8px 0 9px 14px;
    color:#989898;
}
.main_top_menu1 input{
    position: relative;
    background-color: #3c3c3c;
    border: 1px solid white;
    padding:8px 0 9px 14px;
    color:#989898;
}
.main_top_menu1 label{
    position: relative;
}
.main_top_menu1 label::before{
    content:' ';
    background-image: url(../img/search.png);
    position:absolute;
    top:2px;
    left: -20px;
    width:11px;
    height:11px;
}

.phone{
    position: relative;
    color:#e9b637;
    font-weight:bold;
    font-size:15pt;
}
.phone::before{
    content: ' ';
    background-image: url(../img/tel.png);
    position:absolute;
    top:5px;
    left: -18px;
    width:15px;
    height:15px;
}
.basket{
    position: relative;
    color:white;
}
.basket::before{
    content: ' ';
    background-image: url(../img/basket.png);
    position:absolute;
    left: -18px;
    width:15px;
    height:15px;
}
.account{
    position: relative;
    color:white;
}
.account::before{
    content: ' ';
    background-image: url(../img/account.png);
    position:absolute;
    left: -18px;
    width:15px;
    height:15px;
}
.menu2{
	display:flex;
    justify-content: center;
    background-color: #f0f0f0;
}
.main_top_menu2{
	font-weight: bold;
    font-size:16pt;
    padding-left:0;
    height:83px;
    margin-top:0;
    margin-bottom:0;
    display:flex;
    flex-direction:row;
    width:1155px;
    justify-content:center;
    flex-wrap:nowrap;
}
.main_top_menu2 li{
    width:100px;
    padding-top:25px;
    padding-right: 100px;
}

.main_top_menu2 a{
    color:#3c3c3c;
}
/*Категории*/
.categories{
    padding-left:50px;
    flex-grow:1;
}
.plus_sign{
    position: relative;
}
.plus_sign::after{
    content: '+';
    color: #b3b3b3;
    font-size:21pt;
    position:absolute;
    left:170px;
    top:-3px;
    width:15px;
    height:15px;
}
.categories ul{
    height:200px;
    background-color: #f0f0f0;
    display:none;
    width:600px;
    flex-wrap:wrap;
}
.categories ul li{
    width:auto;
    padding:15px;
    font-weight:normal;
}
.categories ul a{
    color:#6d5b5b;
}

/*конец Категории*/
/*Конец меню*/

/*первый слайдер*/
.slaider1{
    display:flex;
    justify-content: center;
}
.mainslaider1{
    background-color: #e9b637;
    width:1055px;
    padding:0 0 0 100px;
    display: flex;
    overflow: hidden;

}
.slaider1_slaid1{
    flex-shrink:0;
	margin:0;
    width:1200px;
    height:385px;
    background-image: url(../img/main_slider1.png);
    background-position: 70% 50%;
    background-repeat: no-repeat;
}
.slaider1_slaid2{
    flex-shrink:0;
	margin:0;
    width:1200px;
    height:385px;
    background-image: url(../img/main_slider2.png);
    background-position: 80% 50%;
    background-repeat: no-repeat;
}
.slaider1_slaid3{
    flex-shrink:0;
	margin:0;
    width:1200px;
    height:385px;
    background-image: url(../img/main_slider3.png);
    background-position: 80% 20%;
    background-repeat: no-repeat;
}
.slide{
    order:2;
}

.slide h2{
    width:715px;
    padding-top:50px;
    color:white;
    font-size: 34pt;
}
.slide span{
    color:black;
    font-size: 29pt;
}
.slide p{
    width:560px;
    margin-bottom: 50px;
}
.slaider-radio-1{
    width: 100px;
}
.slaider-radio-1 div{
    text-align: center;
    width: 10px;
    height: 10px;
    border: 2px solid white;
    border-radius: 50px;
}
input[type=radio]:checked + .slide{
    order: 1;
}
.slaider-radio-1:first-child{
    position:absolute;
	display:inline-flex;
	margin-left:460px;
	margin-top:350px;
}
.more{
    width: 205px;
    padding:15px 55px 15px 55px;
    border:1px solid white;
    border-radius: 5px;
    font-size:12pt;
    color:white;
}
.more:active{
    font-size:12pt;
    background-color: #959595;
    border-color:#959595;
    color:#717171;
}
.more:hover{
    font-size:12pt;
    background-color: white;
    color:#3c3c3c;
}
/*конец первого слайдера*/
/*конец Меню*/
/*начало main*/
main{
    width:100%;
}

/*Каталог*/
.catalog{
    display:flex;
    justify-content: center;
}
.products div{/*Круги*/
    width:160px;
    height:155px;
    background-color:#f0f0f0;
    border:solid 6px #e9b637;
    border-radius:100px;
}
.products img{
    position: relative;
    top:50px;
}
.products:nth-child(5) img{
    top:45px;
}
.products{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
	padding-left:0;
    width:1155px;
}
.products li{
    text-align: center;
    width:170px;
}

/*конец Каталог*/


/*Слайдер 2*/
.slaider2{
    display:flex;
    margin-left:65px;
    justify-content: center;
}
.slaider2 input{
    display:none;
}
.mainslaider2{/*центрирование*/
    width:1200px;
    display:flex;
    overflow: hidden;
}
.slaider_radio_buttons2{
	padding-right:50px;
    height:190px;
    display:flex;
    flex-direction:column;
    justify-content: space-around;
}
.slaider_radio_buttons2 label{
    text-align:center;
    padding:16px 0 16px 0;
    border:1px solid #3c3c3c;
    color:#3c3c3c;
    width:250px;
}
.slaider_radio_buttons2 label:active{
	color: #e9b637;
    border-color: #3c3c3c;
    background-color: #3c3c3c;
    opacity: 0.5;
}
.slaider_radio_buttons2 label:hover{
	color: #e9b637;
    border-color: #3c3c3c;
    background-color: #3c3c3c;
 }
 
/*Слайды*/
.slaideritem21{
    width:950px;
    height:187px;
    background-image: url(../img/Delivery.png);
    background-position: 80% 20%;
    background-repeat: no-repeat;
}
.slaideritem22{
    width:950px;
    height:187px;
    background-image: url(../img/Guarantee.png);
    background-position: 80% 20%;
    background-repeat: no-repeat;
}
.slaideritem23{
    width:950px;
    height:187px;
    background-image: url(../img/Credit.png);
    background-position: 80% 20%;
    background-repeat: no-repeat;

}
/*конец Слайды*/
.slide_slider_2{
    color:#3c3c3c;
    font-size:12pt;
    flex-shrink: 0;
    order:2;
}
.slide_slider_2 p{
    width:480px;
}
.slide_slider_2 h2{
    margin-top:10px;
    width:560px;
}
input[type=radio]:checked + .slide_slider_2{
    order: 1;
}
/*конец Слайдера 2*/

/*Спонсеры*/
.sponsers{
    display:flex;
    justify-content: center;
}
.sponsers ul{
    padding: 0;
    display: flex;
    justify-content: space-around;
    flex-wrap:nowrap;
    align-items:center;
	width:1200px;
}
/*конец спонсеры*/


/*О нас*/
.about_us{
    display:flex;
    flex-direction: row;
    justify-content: center;
    height:545px;
    margin-bottom:50px;
}
.about_us_info{
    font-size:16pt;
    width:695px;
    background-color: #e7e7e7;
    padding-left:50px;
}
.about_us_info h2{
    font-size:21pt;
    margin-top:60px;
}
.about_us_info p{
    color: #8c8c8c;
}
.about_us_info a:active{
    color:black;
}
.about_us_info a{
    position: relative;
}
.about_us_info a hr{
    width:250px;
    border:4px solid #f0c52e;
}
.about_us_info a::before{
    z-index:1;
    color:black;
    position:absolute;
    top:10px;
    left:40px;
    content:'НАПИШИТЕ НАМ';
    width:180px;
    height:10px;
    font-size:16pt;
}
.about_us_info li{
    color: #8c8c8c;
    margin-top:30px;
    list-style-image: url(../img/marker.png);
}
.about_us_line{
    margin:15px 0 15px 0;
    width:90px;
    border:3px solid #e9b637;
}
/*Конец о нас*/
/*Почтовая рассылка*/
.e-mail{
    width:335px;
    height:45px;
    background-color: #515151;
    border:1px solid #8a8a8a;
    color: #8a8a8a;
    font-size:14pt;
    padding-left:30px;
}
.subscribe{
    font-size:19pt;
    padding:25px 0 25px 0;
    width:365px;
    text-align:center;
    background-color: #e9b637;
    border:none;
    color:#3c3c3c;
}
.spam{
    color:white;
    background-color: #3c3c3c;
    width:415px;
    padding-top:40px;
    padding-left:40px;
}
.spam_line+p{
    font-size:14pt;
}
.spam h2{
    font-size:21pt;
}
.spam_info{
    opacity:0.12;
    font-size:11pt;
}
.spam_line{
    margin:15px 0 15px 0;
    width:90px;
    border:3px solid #e9b637;
}
/*конец Почтовая рассылка*/

/*конец main*/

/*footer*/
footer{
    display:flex;
    flex-direction:column;
}
.wrapper_top_footer{
    display:flex;
    justify-content: center;
    background-color: #464646;
}
.footer_top{
	width:1155px;
    display:flex;
    flex-direction:row;
    justify-content: space-between;
}
.info{
    width:300px;
    margin-top:33px;
    color:#a6a6a6;
}
.info+div{
    margin-top: 100px;
}
.address{
    font-size:14pt;
}
.footer_bottom{
	width:1155px;
    display:flex;
    justify-content:space-between;
    flex-direction:row;
}
.footer_bottom ul {
    display: flex;
    flex-direction:row;
}
.footer_bottom  p{
    color:white;
    opacity:0.46;
}
.footer_bottom  ul li{
    padding-right:5px;
}
.footer_top_menu{
    padding-left:5px;
    display:flex;
    flex-direction: row;
    margin:80px 0 30px 0;
}
.footer_top_menu li{
    font-size:10pt;
}
.footer_top_menu li:first-child{
    padding-right:60px;
}
.footer_bottom_menu{
    width:500px;
    text-align:center;
}
.footer_bottom_menu ul{
    padding:0;
    width:500px;
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    align-items: center;
}
.footer_bottom_menu a{
    color:white;
    font-size:18pt;
}
.social{
    display:flex;
    justify-content: center;
    background-color: #3c3c3c;
}
.phone2{
    font-size:26pt;
    color:white;
}

/*конец footer*/